# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/
myenv/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment Variables
.env

# Migrations
**/migrations/*.py
!**/migrations/__init__.py

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/
.pytest_cache/

# mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Pyre
.pyre/

# Distribution
build/
dist/
*.egg-info/